In [1]:
import http.client
import requests, json
import pandas as pd

conn = http.client.HTTPSConnection("skyscanner-skyscanner-flight-search-v1.p.rapidapi.com")

headers = {
    'x-rapidapi-host': "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    'x-rapidapi-key': "0577c9d754msh6a149580eb6ccffp1b7c56jsn2b2ab82bc33c"
    }

In [28]:
#  #Airports where we can fly from: houston
# source_array = {"HOUA-sky"} 

# # Our destination airports: 
# destination_array = {"JFK-sky", "LAX-sky", "DFW-sky", "DEN-sky"}

# ### ( Note that technically these are Python **sets** and not arrays.)

# # And to make our life easier
# rootURL = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/"

In [37]:
# airports = { }
# for destination in destination_array:
#     for source in source_array:
#         myurl = rootURL + originCountry + "/" + currancy + "/" + locale + "/" + source + "/"  + destination + "/" + "2021-09-23"
#         response = requests.request("GET", myurl, headers=headers)
#         temp = json.loads(response.text)
        
#         # This checks if we have a quote or there were no flights
#         if("Quotes" in temp):
#             for Places in temp["Places"]:
#                 # Add the airport in the dictionary.
#                 airports[Places["PlaceId"]] = Places["Name"] 
#             for Quotes in temp["Quotes"]:
#                 print("************")
#                 # print("%s --> to  -->%s" %(origin,destination))
#                 ori = Quotes["OutboundLeg"]["OriginId"]
#                 dest = Quotes["OutboundLeg"]["DestinationId"]
#                 # Look for Airports in the dictionary
#                 print("Journy:  %s  --> %s"%(airports[ori],airports[dest]))
#                 print("Price: %s EUR" %Quotes["MinPrice"])

In [2]:
# Origin airport:
origins = ["HOU-iata","JFK-iata","LAX-iata","DFW-iata","DEN-iata"]

# Destination airports: 
destinations = ["HOU-iata","JFK-iata","LAX-iata","DFW-iata","DEN-iata","ATL-iata","ORD-iata","CLT-iata","LAS-iata","PHX-iata","PCO-iata","SEA-iata","MIA-iata","FLL-iata","SFO-iata","EWR-iata","MSP-iata","DTW-iata","BOS-iata","SLC-iata","PHL-iata","BWI-iata","TPA-iata","SAN-iata","AMA-iata","IAD-iata","BNA-iata","ABQ-iata","PDX-iata","DSM-iata","MSY-iata","BIL-iata","FAR-iata","MAF-iata","LBB-iata","BTV-iata","ROA-iata","MKE-iata","MSN-iata","GRB-iata","CYS-iata","JAC-iata","ELP-iata","CRP-iata","BHM-iata","HSV-iata","TUS-iata","LIT-iata","FAT-iata","SMF-iata","GJT-iata","BDL-iata","EYW-iata","PFN-iata","BOI-iata","EVV-iata","AZO-iata","AUS-iata","SAT-iata","MAF-iata"]

# Enter date as YYYY-MM-DD:
date = "2021-09-23"

# Other parameters
currancy = "USD"
originCountry = "US"
locale = "en-US"
baseURL = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browseroutes/v1.0/"

In [3]:
airports = {}
flights = {}
listlist = []
from time import sleep

#print("From Houston:")

for destination in destinations:
    for origin in origins:
        #print(f'------From {origin}------')
        myurl = baseURL + originCountry + "/" + currancy + "/" + locale + "/" + origin + "/"  + destination + "/" + date
        response = requests.request("GET", myurl, headers=headers)
        results = json.loads(response.text)
        listlist.append(results)

    #     Check if there are no flights
        if("Quotes" in results):
            for Places in results["Places"]:
                # Add the airport in the dictionary.
                airports[Places["PlaceId"]] = Places["Name"] 
            for Quotes in results["Quotes"]:
                print("***************")
                ori = Quotes["OutboundLeg"]["OriginId"]
                dest = Quotes["OutboundLeg"]["DestinationId"]
                price = Quotes["MinPrice"]
                print(f"${price} USD |{airports[ori]}| {airports[dest]} ")
                flights[airports[dest]] = price
                sleep(2.5)
    #             print(airports)

#    print("-------------------------------")
#    print("DONE!")
#    print(f"{len(flights)} total results")
    # print(airportsb)

***************
$89 USD |New York John F. Kennedy| Houston George Bush Intercntl.
***************
$60 USD |Los Angeles International| Houston George Bush Intercntl.
***************
$116 USD |Dallas Fort Worth International| Houston George Bush Intercntl.
***************
$16 USD |Denver International| Houston George Bush Intercntl.
***************
$120 USD |Houston George Bush Intercntl.| New York John F. Kennedy
***************
$218 USD |Houston George Bush Intercntl.| New York John F. Kennedy
***************
$122 USD |Los Angeles International| New York John F. Kennedy
***************
$139 USD |Los Angeles International| New York John F. Kennedy
***************
$91 USD |Dallas Fort Worth International| New York John F. Kennedy
***************
$97 USD |Denver International| New York John F. Kennedy
***************
$40 USD |Houston George Bush Intercntl.| Los Angeles International
***************
$132 USD |New York John F. Kennedy| Los Angeles International
***************
$40 USD |Dallas Fort Worth International| Los Angeles International
***************
$26 USD |Denver International| Los Angeles International
***************
$106 USD |Houston George Bush Intercntl.| Dallas Fort Worth International
***************
$112 USD |New York John F. Kennedy| Dallas Fort Worth International
***************
$129 USD |New York John F. Kennedy| Dallas Fort Worth International
***************
$40 USD |Los Angeles International| Dallas Fort Worth International
***************
$49 USD |Denver International| Dallas Fort Worth International
***************
$20 USD |Houston George Bush Intercntl.| Denver International
***************
$25 USD |Los Angeles International| Denver International
***************
$49 USD |Dallas Fort Worth International| Denver International
***************
$28 USD |Houston George Bush Intercntl.| Atlanta Hartsfield-Jackson
***************
$103 USD |New York John F. Kennedy| Atlanta Hartsfield-Jackson
***************
$110 USD |New York John F. Kennedy| Atlanta Hartsfield-Jackson
***************
$37 USD |Los Angeles International| Atlanta Hartsfield-Jackson
***************
$59 USD |Los Angeles International| Atlanta Hartsfield-Jackson
***************
$28 USD |Dallas Fort Worth International| Atlanta Hartsfield-Jackson
***************
$32 USD |Denver International| Atlanta Hartsfield-Jackson
***************
$47 USD |Houston George Bush Intercntl.| Chicago O'Hare International
***************
$112 USD |New York John F. Kennedy| Chicago O'Hare International
***************
$149 USD |New York John F. Kennedy| Chicago O'Hare International
***************
$38 USD |Los Angeles International| Chicago O'Hare International
***************
$57 USD |Los Angeles International| Chicago O'Hare International
***************
$119 USD |Dallas Fort Worth International| Chicago O'Hare International
***************
$46 USD |Denver International| Chicago O'Hare International
***************
$55 USD |Houston George Bush Intercntl.| Charlotte Douglas
***************
$110 USD |Houston George Bush Intercntl.| Charlotte Douglas
***************
$103 USD |New York John F. Kennedy| Charlotte Douglas
***************
$148 USD |New York John F. Kennedy| Charlotte Douglas
***************
$62 USD |Dallas Fort Worth International| Charlotte Douglas
***************
$51 USD |Denver International| Charlotte Douglas
***************
$49 USD |Houston George Bush Intercntl.| Las Vegas Mccarran
***************
$154 USD |New York John F. Kennedy| Las Vegas Mccarran
***************
$304 USD |New York John F. Kennedy| Las Vegas Mccarran
***************
$28 USD |Los Angeles International| Las Vegas Mccarran
***************
$71 USD |Dallas Fort Worth International| Las Vegas Mccarran
***************
$75 USD |Dallas Fort Worth International| Las Vegas Mccarran
***************
$59 USD |Denver International| Las Vegas Mccarran
***************
$37 USD |Houston Hobby| Phoenix-Mesa Gateway
***************
$99 USD |New York John F. Kennedy| Phoenix Sky Harbor
***************
$80 USD |Los Angeles International| Phoenix Sky Harbor
***************
$119 USD |Dallas Fort Worth International| Phoenix Sky Harbor
***************
$43 USD |Denver International| Phoenix Sky Harbor
***************
$42 USD |Houston George Bush Intercntl.| Seattle / Tacoma International
***************
$109 USD |Houston George Bush Intercntl.| Seattle / Tacoma International
***************
$122 USD |New York John F. Kennedy| Seattle / Tacoma International
***************
$50 USD |Los Angeles International| Seattle / Tacoma International
***************
$59 USD |Los Angeles International| Seattle / Tacoma International
***************
$75 USD |Dallas Fort Worth International| Seattle / Tacoma International
***************
$111 USD |Dallas Love Field| Seattle / Tacoma International
***************
$48 USD |Denver International| Seattle / Tacoma International
***************
$65 USD |Houston George Bush Intercntl.| Miami International
***************
$99 USD |Houston George Bush Intercntl.| Miami International
***************
$49 USD |New York John F. Kennedy| Miami International
***************
$120 USD |Los Angeles International| Miami International
***************
$46 USD |Dallas Fort Worth International| Miami International
***************
$30 USD |Denver International| Miami International
***************
$28 USD |Houston George Bush Intercntl.| Fort Lauderdale International
***************
$69 USD |New York John F. Kennedy| Fort Lauderdale International
***************
$40 USD |Los Angeles International| Fort Lauderdale International
***************
$62 USD |Los Angeles International| Fort Lauderdale International
***************
$20 USD |Dallas Fort Worth International| Fort Lauderdale International
***************
$31 USD |Denver International| Fort Lauderdale International
***************
$119 USD |Houston George Bush Intercntl.| San Francisco International
***************
$131 USD |New York John F. Kennedy| San Francisco International
***************
$28 USD |Los Angeles International| San Francisco International
***************
$119 USD |Dallas Fort Worth International| San Francisco International
***************
$146 USD |Dallas Love Field| San Francisco International
***************
$59 USD |Denver International| San Francisco International
***************
$37 USD |Houston George Bush Intercntl.| New York Newark
***************
$40 USD |Houston George Bush Intercntl.| New York Newark
***************
$38 USD |Los Angeles International| New York Newark
***************
$139 USD |Los Angeles International| New York Newark
***************
$42 USD |Dallas Fort Worth International| New York Newark
***************
$49 USD |Dallas Fort Worth International| New York Newark
***************
$36 USD |Denver International| New York Newark
***************
$149 USD |Denver International| New York Newark
***************
$102 USD |Houston George Bush Intercntl.| Minneapolis St Paul
***************
$114 USD |New York John F. Kennedy| Minneapolis St Paul
***************
$125 USD |New York John F. Kennedy| Minneapolis St Paul
***************
$51 USD |Los Angeles International| Minneapolis St Paul
***************
$57 USD |Los Angeles International| Minneapolis St Paul
***************
$50 USD |Dallas Fort Worth International| Minneapolis St Paul
***************
$202 USD |Dallas Fort Worth International| Minneapolis St Paul
***************
$21 USD |Denver International| Minneapolis St Paul
***************
$73 USD |Houston George Bush Intercntl.| Detroit Wayne County
***************
$95 USD |New York John F. Kennedy| Detroit Wayne County
***************
$35 USD |Los Angeles International| Detroit Wayne County
***************
$76 USD |Los Angeles International| Detroit Wayne County
***************
$28 USD |Dallas Fort Worth International| Detroit Wayne County
***************
$21 USD |Denver International| Detroit Wayne County
***************
$80 USD |Houston George Bush Intercntl.| Boston Logan International
***************
$158 USD |Houston George Bush Intercntl.| Boston Logan International
***************
$86 USD |New York John F. Kennedy| Boston Logan International

***************
$73 USD |Los Angeles International| Boston Logan International
***************
$195 USD |Los Angeles International| Boston Logan International
***************
$60 USD |Dallas Fort Worth International| Boston Logan International
***************
$170 USD |Dallas Fort Worth International| Boston Logan International
***************
$52 USD |Denver International| Boston Logan International
***************
$145 USD |Denver International| Boston Logan International
***************
$87 USD |Houston George Bush Intercntl.| Salt Lake City
***************
$107 USD |New York John F. Kennedy| Salt Lake City
***************
$108 USD |New York John F. Kennedy| Salt Lake City
***************
$79 USD |Dallas Fort Worth International| Salt Lake City
***************
$29 USD |Denver International| Salt Lake City
***************
$51 USD |Houston George Bush Intercntl.| Philadelphia International
***************
$59 USD |Houston George Bush Intercntl.| Philadelphia International
***************
$38 USD |Los Angeles International| Philadelphia International
***************
$87 USD |Los Angeles International| Philadelphia International
***************
$60 USD |Dallas Fort Worth International| Philadelphia International
***************
$37 USD |Denver International| Philadelphia International
***************
$77 USD |Denver International| Philadelphia International
***************
$60 USD |Houston George Bush Intercntl.| Tampa International
***************
$35 USD |Los Angeles International| Tampa International
***************
$28 USD |Dallas Fort Worth International| Tampa International
***************
$69 USD |Denver International| Tampa International
***************
$119 USD |Houston George Bush Intercntl.| San Diego International
***************
$111 USD |New York John F. Kennedy| San Diego International
***************
$88 USD |Los Angeles International| San Diego International
***************
$2190 USD |Los Angeles International| San Diego International
***************
$56 USD |Dallas Fort Worth International| San Diego International
***************
$42 USD |Denver International| San Diego International
***************
$167 USD |New York John F. Kennedy| Amarillo International
***************
$117 USD |Houston George Bush Intercntl.| Washington Dulles
***************
$152 USD |Houston George Bush Intercntl.| Washington Dulles
***************
$224 USD |New York John F. Kennedy| Washington Dulles
***************
$108 USD |Los Angeles International| Washington Dulles
***************
$151 USD |Los Angeles International| Washington Dulles
***************
$93 USD |Dallas Fort Worth International| Washington Dulles
***************
$106 USD |Denver International| Washington Dulles
***************
$80 USD |Houston George Bush Intercntl.| Nashville
***************
$136 USD |Houston George Bush Intercntl.| Nashville
***************
$137 USD |New York John F. Kennedy| Nashville
***************
$189 USD |New York John F. Kennedy| Nashville
***************
$177 USD |Los Angeles International| Nashville
***************
$39 USD |Dallas Fort Worth International| Nashville
***************
$76 USD |Denver International| Nashville
***************
$94 USD |Denver International| Nashville
***************
$140 USD |New York John F. Kennedy| Albuquerque
***************
$39 USD |Denver International| Albuquerque
***************
$38 USD |Houston George Bush Intercntl.| Portland
***************
$147 USD |Houston George Bush Intercntl.| Portland
***************
$101 USD |New York John F. Kennedy| Portland
***************
$50 USD |Los Angeles International| Portland
***************
$80 USD |Los Angeles International| Portland
***************
$119 USD |Dallas Fort Worth International| Portland
***************
$41 USD |Denver International| Portland
***************
$59 USD |Denver International| Des Moines
***************
$42 USD |Houston George Bush Intercntl.| New Orleans Louis Armstrong
***************
$135 USD |New York John F. Kennedy| New Orleans Louis Armstrong
***************
$214 USD |New York John F. Kennedy| New Orleans Louis Armstrong
***************
$35 USD |Los Angeles International| New Orleans Louis Armstrong
***************
$31 USD |Dallas Fort Worth International| New Orleans Louis Armstrong
***************
$40 USD |Denver International| New Orleans Louis Armstrong
***************
$204 USD |Denver International| Burlington
***************
$159 USD |Houston George Bush Intercntl.| Milwaukee General Mitchell
***************
$161 USD |New York John F. Kennedy| Milwaukee General Mitchell
***************
$60 USD |Los Angeles International| Milwaukee General Mitchell
***************
$51 USD |Denver International| Milwaukee General Mitchell
***************
$133 USD |Denver International| Madison
***************
$209 USD |Denver International| Madison

In [6]:
dfdf = pd.json_normalize(listlist)
print(f"Total list length: {len(listlist)}")
# listlist[2]

Total list length: 300

In [7]:
where_my_airport = pd.read_csv("https://datahub.io/core/airport-codes/r/airport-codes.csv")
where_my_airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [8]:
flight_list = []
for flight in listlist:
    flight_dict = {}
    try:
#         flight_dict['orig_lat'] = my_google_results[airport]
        flight_dict['min_price_usd'] = flight['Quotes'][0]['MinPrice']
        flight_dict['origin_name'] = flight['Places'][0]['Name']
        flight_dict['origin_code'] = flight['Places'][0]['IataCode']
        flight_dict['dest_name'] =  flight['Places'][1]['Name']
        flight_dict['dest_code'] =  flight['Places'][1]['IataCode']
        flight_list.append(flight_dict)
    except:
        pass
flightflight = pd.DataFrame(flight_list)
print(len(flight_list))
flightflight

129

,min_price_usd,origin_name,origin_code,dest_name,dest_code
0,89,Houston George Bush Intercntl.,IAH,New York John F. Kennedy,JFK
1,60,Houston George Bush Intercntl.,IAH,Los Angeles International,LAX
2,116,Dallas Fort Worth International,DFW,Houston George Bush Intercntl.,IAH
3,16,Denver International,DEN,Houston George Bush Intercntl.,IAH
4,120,Houston George Bush Intercntl.,IAH,New York John F. Kennedy,JFK
...,...,...,...,...,...
124,159,Houston George Bush Intercntl.,IAH,Milwaukee General Mitchell,MKE
125,161,New York John F. Kennedy,JFK,Milwaukee General Mitchell,MKE
126,60,Los Angeles International,LAX,Milwaukee General Mitchell,MKE
127,51,Denver International,DEN,Milwaukee General Mitchell,MKE
128,133,Denver International,DEN,Madison,MSN

In [13]:
origin_group = flightflight.groupby('origin_name').nunique()
origin_group

,min_price_usd,origin_code,dest_name,dest_code
origin_name,,,,
Albuquerque,2,1,2,2
Amarillo International,1,1,1,1
Atlanta Hartsfield-Jackson,4,1,5,5
Boston Logan International,5,1,5,5
Burlington,1,1,1,1
Charlotte Douglas,4,1,4,4
Dallas Fort Worth International,17,1,18,18
Dallas Love Field,2,1,1,1
Denver International,23,1,24,24
Detroit Wayne County,3,1,3,3
Fort Lauderdale International,3,1,3,3
Houston George Bush Intercntl.,14,1,15,15
Las Vegas Mccarran,1,1,1,1
Los Angeles International,9,1,12,12
Nashville,5,1,5,5
New York John F. Kennedy,13,1,13,13
New York Newark,2,1,2,2
Phoenix-Mesa Gateway,1,1,1,1
Washington Dulles,3,1,3,3

In [61]:
print(airports)
airport_df = pd.DataFrame(airports)

Empty DataFrame
Columns: []
Index: [0]

In [60]:
dfdf.count()

Quotes        49
Carriers      49
Places        49
Currencies    49
Routes        49
errors         1
message        8
dtype: int64

In [30]:
print(f"{len(flights)} total results")

25 total results

In [31]:
flights

{'Sacramento International': 125,
 'Denver International': 20,
 'Miami International': 99,
 'Philadelphia International': 59,
 'Seattle / Tacoma International': 109,
 'San Diego International': 119,
 'New Orleans Louis Armstrong': 42,
 'New York Newark': 40,
 'Milwaukee General Mitchell': 159,
 'Washington Dulles': 152,
 'Austin-Bergstrom': 118,
 'Dallas Fort Worth International': 106,
 'Fort Lauderdale International': 28,
 'Minneapolis St Paul': 102,
 'Charlotte Douglas': 110,
 'Detroit Wayne County': 73,
 'Tampa International': 60,
 'Phoenix-Mesa Gateway': 37,
 'Los Angeles International': 40,
 'San Francisco International': 119,
 'Boston Logan International': 158,
 'Salt Lake City': 87,
 'Portland': 147,
 'Las Vegas Mccarran': 55,
 'Nashville': 136}

In [41]:
flights_df = pd.DataFrame(flights, index =['a'])
flights_df = flights_df.transpose()
flights_df = flights_df.reset_index()
flights_df = flights_df.rename(columns={"index": "Destination", "a": "Cost USD"})
flights_df

                        Destination  Cost USD
0          Sacramento International       125
1              Denver International        20
2               Miami International        99
3        Philadelphia International        59
4    Seattle / Tacoma International       109
5           San Diego International       119
6       New Orleans Louis Armstrong        42
7                   New York Newark        40
8        Milwaukee General Mitchell       159
9                 Washington Dulles       152
10                 Austin-Bergstrom       118
11  Dallas Fort Worth International       106
12    Fort Lauderdale International        28
13              Minneapolis St Paul       102
14                Charlotte Douglas       110
15             Detroit Wayne County        73
16              Tampa International        60
17             Phoenix-Mesa Gateway        37
18        Los Angeles International        40
19      San Francisco International       119
20       Boston Logan International       158
21                   Salt Lake City        87
22                         Portland       147
23               Las Vegas Mccarran        55
24                        Nashville       136

### Destination
[x] Make data
* still needs lat, lon (reverse geocoder, or just cheat and google it...)

#### Cost

* Filter for min
* or just do a range?

### pd.to_sql(name="dbdb", index=false, con = conn)

### Flask API

* query db, jsonify, profit
* you can cheat here and just feed in a json of your choice instead of querying the database while you get the database going...


### Put on map :smile:

In [114]:
import time, datetime, dateutil
import pandas as pd
import requests

# Origin airport:
origin = "HOUA-sky" 

# Destination airports: 
single_dest = "JFK-iata"

# Enter date as YYYY-MM-DD:
source_begin_date = "2021-09-06"
source_end_date =  "2021-10-03"  
daterange = pd.date_range(source_begin_date, source_end_date)

# Other parameters
currancy = "USD"
originCountry = "US"
locale = "en-US"
baseURL = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/"

In [115]:
calendar = {}

print("From: Houston")

for single_date in daterange:
    myurl = baseURL + originCountry + "/" + currancy + "/" + locale + "/" + origin + "/"  + single_dest + "/" + "2021-09-06"
    response = requests.request("GET", myurl, headers=headers)
    results = json.loads(response.text)
        
    # Check if there are no flights
    if("Quotes" in results):
        for Places in results["Places"]:
            # Add the airport in the dictionary.
            airports[Places["PlaceId"]] = Places["Name"] 
        for Quotes in results["Quotes"]:
            print("***************")
            print(single_date.strftime("%d-%b %a"))
            ori = Quotes["OutboundLeg"]["OriginId"]
            dest = Quotes["OutboundLeg"]["DestinationId"]
            price = Quotes["MinPrice"]
            print(f"${price} USD | {airports[dest]} ")
            calendar[single_date.strftime("%d-%b %a")] = price

print("-------------------------------")
print("DONE!")
print(f"{len(calendar)} total results")

From: Houston
***************
06-Sep Mon
$110 USD | New York John F. Kennedy
***************
06-Sep Mon
$329 USD | New York John F. Kennedy
***************
07-Sep Tue
$110 USD | New York John F. Kennedy
***************
07-Sep Tue
$329 USD | New York John F. Kennedy
***************
08-Sep Wed
$110 USD | New York John F. Kennedy
***************
08-Sep Wed
$329 USD | New York John F. Kennedy
***************
09-Sep Thu
$110 USD | New York John F. Kennedy
***************
09-Sep Thu
$329 USD | New York John F. Kennedy
***************
10-Sep Fri
$110 USD | New York John F. Kennedy
***************
10-Sep Fri
$329 USD | New York John F. Kennedy
***************
11-Sep Sat
$110 USD | New York John F. Kennedy
***************
11-Sep Sat
$329 USD | New York John F. Kennedy
***************
12-Sep Sun
$110 USD | New York John F. Kennedy
***************
12-Sep Sun
$329 USD | New York John F. Kennedy
***************
13-Sep Mon
$110 USD | New York John F. Kennedy
***************
13-Sep Mon
$329 USD | New York John F. Kennedy
***************
14-Sep Tue
$110 USD | New York John F. Kennedy
***************
14-Sep Tue
$329 USD | New York John F. Kennedy
***************
15-Sep Wed
$110 USD | New York John F. Kennedy
***************
15-Sep Wed
$329 USD | New York John F. Kennedy
***************
16-Sep Thu
$110 USD | New York John F. Kennedy
***************
16-Sep Thu
$329 USD | New York John F. Kennedy
***************
17-Sep Fri
$110 USD | New York John F. Kennedy
***************
17-Sep Fri
$329 USD | New York John F. Kennedy
***************
18-Sep Sat
$110 USD | New York John F. Kennedy
***************
18-Sep Sat
$329 USD | New York John F. Kennedy
***************
19-Sep Sun
$110 USD | New York John F. Kennedy
***************
19-Sep Sun
$329 USD | New York John F. Kennedy
***************
20-Sep Mon
$110 USD | New York John F. Kennedy
***************
20-Sep Mon
$329 USD | New York John F. Kennedy
***************
21-Sep Tue
$110 USD | New York John F. Kennedy
***************
21-Sep Tue
$329 USD | New York John F. Kennedy
***************
22-Sep Wed
$110 USD | New York John F. Kennedy
***************
22-Sep Wed
$329 USD | New York John F. Kennedy
***************
23-Sep Thu
$110 USD | New York John F. Kennedy
***************
23-Sep Thu
$329 USD | New York John F. Kennedy
***************
24-Sep Fri
$110 USD | New York John F. Kennedy
***************
24-Sep Fri
$329 USD | New York John F. Kennedy
***************
25-Sep Sat
$110 USD | New York John F. Kennedy
***************
25-Sep Sat
$329 USD | New York John F. Kennedy
***************
26-Sep Sun
$110 USD | New York John F. Kennedy
***************
26-Sep Sun
$329 USD | New York John F. Kennedy
***************
27-Sep Mon
$110 USD | New York John F. Kennedy
***************
27-Sep Mon
$329 USD | New York John F. Kennedy
***************
28-Sep Tue
$110 USD | New York John F. Kennedy
***************
28-Sep Tue
$329 USD | New York John F. Kennedy
***************
29-Sep Wed
$110 USD | New York John F. Kennedy
***************
29-Sep Wed
$329 USD | New York John F. Kennedy
***************
30-Sep Thu
$110 USD | New York John F. Kennedy
***************
30-Sep Thu
$329 USD | New York John F. Kennedy
***************
01-Oct Fri
$110 USD | New York John F. Kennedy
***************
01-Oct Fri
$329 USD | New York John F. Kennedy
***************
02-Oct Sat
$110 USD | New York John F. Kennedy
***************
02-Oct Sat
$329 USD | New York John F. Kennedy
***************
03-Oct Sun
$110 USD | New York John F. Kennedy
***************
03-Oct Sun
$329 USD | New York John F. Kennedy
-------------------------------
DONE!
28 total results

In [116]:
calendar

{'06-Sep Mon': 329,
 '07-Sep Tue': 329,
 '08-Sep Wed': 329,
 '09-Sep Thu': 329,
 '10-Sep Fri': 329,
 '11-Sep Sat': 329,
 '12-Sep Sun': 329,
 '13-Sep Mon': 329,
 '14-Sep Tue': 329,
 '15-Sep Wed': 329,
 '16-Sep Thu': 329,
 '17-Sep Fri': 329,
 '18-Sep Sat': 329,
 '19-Sep Sun': 329,
 '20-Sep Mon': 329,
 '21-Sep Tue': 329,
 '22-Sep Wed': 329,
 '23-Sep Thu': 329,
 '24-Sep Fri': 329,
 '25-Sep Sat': 329,
 '26-Sep Sun': 329,
 '27-Sep Mon': 329,
 '28-Sep Tue': 329,
 '29-Sep Wed': 329,
 '30-Sep Thu': 329,
 '01-Oct Fri': 329,
 '02-Oct Sat': 329,
 '03-Oct Sun': 329}

In [117]:
cal_df = pd.DataFrame(calendar, index = ['a'])
cal_df = cal_df.transpose()
cal_df = cal_df.reset_index()
cal_df = cal_df.rename(columns={"index": "Date", "a": "Cost USD"})
cal_df

          Date  Cost USD
0   06-Sep Mon       329
1   07-Sep Tue       329
2   08-Sep Wed       329
3   09-Sep Thu       329
4   10-Sep Fri       329
5   11-Sep Sat       329
6   12-Sep Sun       329
7   13-Sep Mon       329
8   14-Sep Tue       329
9   15-Sep Wed       329
10  16-Sep Thu       329
11  17-Sep Fri       329
12  18-Sep Sat       329
13  19-Sep Sun       329
14  20-Sep Mon       329
15  21-Sep Tue       329
16  22-Sep Wed       329
17  23-Sep Thu       329
18  24-Sep Fri       329
19  25-Sep Sat       329
20  26-Sep Sun       329
21  27-Sep Mon       329
22  28-Sep Tue       329
23  29-Sep Wed       329
24  30-Sep Thu       329
25  01-Oct Fri       329
26  02-Oct Sat       329
27  03-Oct Sun       329

In [12]:
import time, datetime, dateutil
import pandas as pd

source_begin_date = "2021-09-06"
source_end_date =  "2021-10-03"  
daterange = pd.date_range(source_begin_date, source_end_date)
airports = { }
maxbudget = 400

In [13]:
class findingCheapestFlights:
    
    def __init__(self, originCountry = "DE", currency = "EUR", locale = "en-US", rootURL="https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"):
        self.currency = currency
        self.locale =  locale
        self.rootURL = rootURL
        self.originCountry = originCountry

    def setHeaders(self, headers):
        self.headers =  headers

    def browseQuotes(self, source, destination, date):
        quoteRequestPath = "/apiservices/browsequotes/v1.0/"
        browseQuotesURL = self.rootURL + quoteRequestPath + self.originCountry + "/" + self.currency + "/" + self.locale + "/" + source + "/" + destination + "/" + date.strftime("%Y-%m-%d")
        response = requests.request("GET", url = browseQuotesURL, headers = self.headers)
        resultJSON = json.loads(response.text)
        return resultJSON

In [14]:
import time
cheapest_flight_finder = findingCheapestFlights()
cheapest_flight_finder.setHeaders(headers)

total_compute_time = 0.0
total_request_time = 0.0

function_start = time.time()
for single_date in daterange:
    for destination in destination_array:
        for source in source_array:
            request_start = time.time()
            resultJSON = cheapest_flight_finder.browseQuotes(source, destination,single_date)
            request_end = time.time()
            if("Quotes" in resultJSON):
                for Places in resultJSON["Places"]:
                    # Add the airport in the dictionary.
                    airports[Places["PlaceId"]] = Places["Name"] 
                for Quotes in resultJSON["Quotes"]:
                    if(Quotes["MinPrice"]<maxbudget):                        
                        print("************")
                        print(single_date.strftime("%d-%b %a"))
                        # print("%s --> to  -->%s" %(origin,destination))
                        source = Quotes["OutboundLeg"]["OriginId"]
                        dest = Quotes["OutboundLeg"]["DestinationId"]
                        # Look for Airports in the dictionary
                        print("Journy:  %s  --> %s"%(airports[source],airports[dest]))
                        print("Price: %s EUR" %Quotes["MinPrice"])
            calculation_end = time.time()
            total_compute_time += calculation_end - request_end 
            total_request_time += request_end - request_start
print("\nBenchmark Stats :")
print("Time spent in computing: %f seconds"%total_compute_time )
print("Time spent in requesting: %f seconds"%total_request_time )
print("Time spent in program: %f seconds"%(time.time()-function_start))

************
07-Sep Tue
Journy:  Houston George Bush Intercntl.  --> London Luton
Price: 306 EUR
************
07-Sep Tue
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 342 EUR
************
08-Sep Wed
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 291 EUR
************
08-Sep Wed
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 291 EUR
************
08-Sep Wed
Journy:  Houston George Bush Intercntl.  --> London Heathrow
Price: 306 EUR
************
12-Sep Sun
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 308 EUR
************
12-Sep Sun
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 308 EUR
************
13-Sep Mon
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 298 EUR
************
13-Sep Mon
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 298 EUR
************
13-Sep Mon
Journy:  Houston George Bush Intercntl.  --> London Heathrow
Price: 387 EUR
************
14-Sep Tue
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 291 EUR
************
14-Sep Tue
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 291 EUR
************
15-Sep Wed
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 291 EUR
************
15-Sep Wed
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 291 EUR
************
16-Sep Thu
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 292 EUR
************
16-Sep Thu
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 292 EUR
************
17-Sep Fri
Journy:  Houston George Bush Intercntl.  --> London Stansted
Price: 366 EUR

Benchmark Stats :
Time spent in computing: 0.002995 seconds
Time spent in requesting: 33.480275 seconds
Time spent in program: 33.485265 seconds